{% extends 'base.html' %}
{% set title='Assignment3-2' %}


{% block title %}Users{% endblock %}

{% block tohen %}

    <h1>About Users</h1>
    {% if session['Registered'] %}
        <h1>Hey {{ session['user_name'] | title() }}</h1>
    {% endif %}

    <form action="/assignment3_2">
        <input type="text" name="user_name" placeholder="user Name">

        <input type="submit" value="Find">
    </form>

    {% if user_name %}
        <div class="container">
            <h2>{{ user_name }}</h2>
            <h3>Name: {{ user_name }}</h3>
            <h3>Email: {{ user_email }}</h3>
            <h3>First Name: {{ user_Firstname }}</h3>
            <h3>Last Name: {{ user_Lastname }}</h3>
            <h3>User Age: {{ user_age }}</h3>
        </div>

    {% endif %}


    {% if message %}
        <h3 style="color: red">{{ message }}</h3>
    {% endif %}

    {% if user_dict %}
        {% for m, n in user_dict.items() %}
            <div class="container">
                <a>UserName: {{ m }}</a><br>
                <a>Email: {{ n[0] }}</a><br>
                <a>First Name: {{ n[1] }}</a><br>
                <a>Last Name: {{ n[2] }}</a><br>
                <a>User Age: {{ n[3] }}</a><br>
            </div>
        {% endfor %}

    {% endif %}

    {% if session['Registered'] %}

        <div class="logOut">
            <a href="/log_out">
                <input value="Log Out" class="button" type="submit"/>
            </a>
        </div>

        {% if message2 %}
            <div class="logOut">
                <h3>{{ message2 }}</h3>
            </div>
        {% endif %}

    {% else %}
        <h3>Register Form</h3>
        <form action="/assignment3_2" method="post">
            <input type="text" name="user_name" placeholder="user Name">
            <input type="email" name="user_email" placeholder="email">
            <input type="text" name="user_Firstname" placeholder="first Name">
            <input type="text" name="user_Lastname" placeholder="last Name">
            <input type="number" name="user_age" placeholder="age">
            <input type="submit" value="Register" class="button">
        </form>
    {% endif %}


{% endblock %}