
{% extends 'base.html' %}
{% set title='Home Page' %}
    {% block title %}{{ title }} Page{% endblock %}





{% block tohen %}
    <header class="header">
        <img src="../static/earth.png" class="earth">
        <h1 class="headerText">Welcome To Tal's Homepage</h1>
        <p class="headerText">Hope you enjoy while visiting our site.</p>
    </header>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div id="Info">
        <p>Want to know more?</p>
        <p>Feel free to contact us </p>
        </div>
    <br>
    <br>
    <br>
    <div id="wrapper">
        <div id="Jordan" class="view"></div>
        <div id="Alps" class="view"></div>
        <div id="NewZealand" class="view"></div>
        <div id="Israel" class="view"></div>
    </div>





{% endblock %}